.sidebar {
    width: 0%;
    background: #f5f2f0;
    border-left: 1px solid #d5d2d0;
    position: fixed;
    top: 60px;
    right: 0;
    height: 100%;
    z-index: 0;
}
.sidebar-btn {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    content: " ";
    line-height: 22;
    color: white;
}
.sidebar-btn::before {
    line-height: 22;
    color: white;
    content: " ";
}
.sidebar-btn::after {
    line-height: 22;
    color: white;
    content: " ";
}
.page {
    position: relative;
    z-index: 1;
    width: 80%;
    margin-right: 10%;
    margin-left: auto;
    padding: 10px;
}
.page-sidebar-on {
    margin-right: 20%;
}
.page-animation {
    transition: margin-right 0.5s ease-in-out;
}
.sidebar-on {
    width: 20%;
}
.sidebar-animation {
    transition: width 0.5s ease-in-out;
}
.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background: white;
    border-radius: 5px;
    border: 1px solid burlywood;
    padding: 5%;
}
.content-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #f3d9a9;
}